# JWT
JWT_SECRET=coloque-um-segredo-bem-grande-aqui
JWT_ACCESS_EXPIRATION_SECONDS=900
JWT_REFRESH_EXPIRATION_SECONDS=604800
JWT_ISSUER=secure-auth-api

# DB (produção / docker / etc)
DB_URL=jdbc:postgresql://localhost:5432/secureauth
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DRIVER=org.postgresql.Driver

# Flyway (liga quando você tiver migrations)
FLYWAY_ENABLED=false
FLYWAY_LOCATIONS=classpath:db/migration
